.row
  / Widget listing
  .col-lg-12
    .widget
      .widget-header
        Users
        .pull-right
          %input.form-control.input-sm{:type => "text"}/
      .table-responsive
        %table.table
          %thead
            %tr
              %th.text-center ID
              %th Name
              %th Avatar
          %tbody
            %tr
              %td.text-center 1
              %td JBoss McHuston
              %td
                %img{:src => "https://s.gravatar.com/avatar/e11550b1bf793d43639292b196374262?s=48"}/
