<!-- Dashboard Boxes -->
<div class='dashboard' ng-controller='DashboardController as dashboardCtrl'>
  <div class='row'>
    <div class='col-lg-3 col-md-6 col-xs-12'>
      <div class='widget'>
        <div class='widget-header'>
          <div class='widget-icon green pull-left'>
            <i class='fa fa-users'></i>
          </div>
          <div class='title'>{{dashboardCtrl.users_counter}}</div>
          <div class='comment'>Users</div>
        </div>
      </div>
    </div>
    <div class='col-lg-3 col-md-6 col-xs-12'>
      <div class='widget'>
        <div class='widget-header'>
          <div class='widget-icon green pull-left'>
            <i class='fa fa-users'></i>
          </div>
          <div class='title'>{{dashboardCtrl.widgets_counter}}</div>
          <div class='comment'>Widgets</div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <!-- Users listing -->
    <div class='col-lg-6'>
      <div class='widget'>
        <div class='widget-header'>
          Users
          <div class='pull-right'>
            <input class='form-control input-sm' ng-model='dashboardCtrl.searchUser' type='text'>
          </div>
        </div>
        <div class='table-responsive'>
          <table class='table'>
            <thead>
              <tr>
                <th class='text-center'>ID</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='user in dashboardCtrl.users | filter:dashboardCtrl.searchUser'>
                <td class='text-center'>{{user.id}}</td>
                <td>{{user.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Widget listing -->
    <div class='col-lg-6'>
      <div class='widget'>
        <div class='widget-header'>
          Widgets
          <div class='pull-right'>
            <input class='form-control input-sm' ng-model='dashboardCtrl.searchWidget' type='text'>
          </div>
        </div>
        <div class='table-responsive'>
          <table class='table'>
            <thead>
              <tr>
                <th class='text-center'>ID</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='widget in dashboardCtrl.widgets | filter:dashboardCtrl.searchWidget'>
                <td class='text-center'>{{widget.id}}</td>
                <td>{{widget.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
